Flask_SSLify==0.1.5
bleach==2.1.2
Flask_Migrate==2.1.1
APScheduler==3.5.1
Flask_Login==0.2.11
Flask==1.0.1
Flask_RESTful==0.3.6
Flask_SQLAlchemy==2.3.2
requests==2.18.4
SQLAlchemy==1.2.7
Flask_Script==2.0.6
Flask-Mail==0.9.1
itsdangerous==0.24
Flask_Mail==0.9.1
Werkzeug==0.14.1
Markdown==2.6.11
python_dateutil==2.7.3
robotframework==3.0.3
robotframework-seleniumlibrary==3.1.1
robotframework-requests==0.4.7
robotframework-appiumlibrary==1.4.6
pymysql==0.8.1
pillow==5.1.0
mysql-connector-python==8.0.11